/* APPS BACKGROUND */
/* .back {
  height: 100%;
  width: 100%;
  background-color: rgb(18, 5, 89);
  padding-bottom: 25%;
  padding-top: 10%;
} */

/* The Modal (background) */
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  height: auto;
}
.headblock {
  height: 100px;
  width: 100%;
  background-color: rgb(18, 5, 89);
  border: 1px solid black;
  color: white;
  text-align: center;
}
/* BUTTON BAR STYLE  */

.buttonbar {
  background-color: white;
  /* height: 10px; */
  /* width: 30%;

  margin-left: 30%; */
  /* margin-bottom: 20px; */
  /* padding-bottom: 10%; */
  padding-top: 5%;
  border-radius: 20px;
  border-color: #fff;
  border: 1px solid black;
}

/* BUTTON STYLE */
.button {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  /* margin-left: 30%; */
}

.button:hover {
  background: #4192d9;
  /* border-radius: 3px; */
  padding: 10px 20px;
  color: rgb(18, 5, 89);
}

/* FOOTER STILE */
.footerstyle {
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #012840;
  color: #fff;
  text-align: center;
}

/* STYLE AdToDo CSS */

.atd-back {
  height: 100%o;
  width: 100%;
  background-color: rgba(18, 5, 89, 0.907);
  padding-bottom: 25%;
  padding-top: 10%;
}

.atd-infoblock {
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  padding-bottom: 10%;
  padding-top: 2%;
  border-radius: 20px;
  border-color: #fff;
  border: 1px solid black;
}

.addform {
  margin-left: 20px;
  margin-right: 20px;
}

.field {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 50px;
  border-color: rgb(18, 5, 89);
}
